<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">TRTConseil - Espace Candidat</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('candidate_homePage') }}">Page Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Complèter mon profil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>