<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Page Accueil Application</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('security_candidate_login') }}">Connexion à l'espace candidat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_consultant_login') }}">Connexion à l'espace consultant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_recruiter_login') }}">Connexion à l'espace recruteur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_admin_login') }}">Connexion à l'espace admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>